// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-custom {
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 10px;
}

.base {
  width: 500px;
  margin: 0 auto;
}